@import url("reset.scss");
@import url("variables/global.scss");
@import url("themes/normal.scss");
@import url("themes/dark.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 30px;
  font: var(--font-m);

  color: var(--primary-color);
  background: var(--bg-color);

  min-height: 100vh;
}
